{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} My Posts{% endblock %}

{% block body %}
	{{ parent() }}
	{{ dump(posts) }}

	<ul>
		{% for post in posts %}
			<li>{{ post.titulo }}</li>
		{% endfor %}
	</ul>

{% endblock %}
